body {
}

#td-instructions {
	color: #888;
	background-color: #ededed;
	border-top: 1px solid #f4f4f4;
	border-bottom: 1px solid #d4d4d4;
	font-size: 0.9em;
	padding: 1em 2em 1em 2em;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

#td-logo {
	height: 3em;
	margin-right: 1em;
	vertical-align: middle;
}

#chooseWiki {
	display: none;
}

#wikiList {
	padding: 0;
	margin: 0;
	background: #fff;
}

#wikiList li {
	list-style: none;
	border-top: 1px solid #f4f4f4;
	border-bottom: 1px solid #d4d4d4;
}

#wikiList li:nth-child(odd) {
	background-color: #e5e5e5;
}

#wikiList li:nth-child(even) {
	background-color: #ededed;
}

#wikiList a {
	display: block;
	padding: 1em 2em 1em 2em;
	text-decoration: none;
	transition: background-color 100ms ease-in-out;
}

#wikiList a:hover {
	background: #fff;
}

#wikiList a img {
	display: inline-block;
	vertical-align: top;
	width: 100px;
	border: 1px solid #ccc;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
	transition: opacity 100ms ease-in-out;
	opacity: 0.5;
}

#wikiList a:hover img {
	opacity: 1;
}

#wikiList .td-info {
	display: inline-block;
	margin-left: 12px;
	color: #000;
}

#wikilist .td-title {
	font-weight: bold;
}

#wikiList .td-url {
	font-size: 0.8em;
	color: #888;
}

#wikiList a .td-toolbar {
	font-size: 0.8em;
	opacity: 0;
	margin-top: 0.5em;
	transition: opacity 100ms ease-in-out;
}

#wikiList a:hover .td-toolbar {
	opacity: 1;
}

#wikiList .td-toolbar button {
	margin-right: 1em;
	border-radius: 3px;
	border: none;
	color: #fff;
	transition: -webkit-transform 100ms ease-in-out;
}

#wikiList .td-toolbar button:hover {
	-webkit-transform: scale(1.2,1.2);
}

#wikiList .td-toolbar button:active {
	-webkit-transform: scale(0.9,0.9);
	color: #444;
}

#wikiList .td-toolbar button.td-open {
	background-color: #4fb82b;
}

#wikiList .td-toolbar button.td-open:hover {
	background-color: green;
}

#wikiList .td-toolbar button.td-clone {
	background-color: #5778d8;
}

#wikiList .td-toolbar button.td-clone:hover {
	background-color: blue;
}

#wikiList .td-toolbar button.td-remove {
	background-color: #d85778;
}
#wikiList .td-toolbar button.td-remove:hover {
	background-color: red;
}
