body {
}

.td-btn-invisible {
	background: none 0% 0% transparent;
	border: none;
	text-align: left;
}

#td-instructions {
	color: #888;
	background-color: #ededed;
	border-top: 1px solid #f4f4f4;
	border-bottom: 1px solid #d4d4d4;
	font-size: 0.9em;
	padding: 1em 2em 1em 2em;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

.td-logo {
	height: 3em;
	margin-right: 1em;
	vertical-align: middle;
}

.td-file-input-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

.td-file-input-wrapper input[type="file"] {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    font-size: 999px;
    max-width: 100%;
    max-height: 100%;
    opacity: 0;
    outline: medium none;
    background: none repeat scroll 0% 0% #FFF;
    cursor: pointer;
    display: inline-block;
}

#wikiList {
	padding: 0;
	margin: 0;
	background: #fff;
}

#wikiList tr {
	border-top: 1px solid #f4f4f4;
	border-bottom: 1px solid #d4d4d4;
	transition: background-color 100ms ease-in-out;	
}

#wikiList tr:nth-child(odd) td {
	background-color: #e5e5e5;
}

#wikiList tr:nth-child(even) td {
	background-color: #ededed;
}

#wikiList a {	/* not used ?? */
	display: block;
	padding: 1em 2em 1em 2em;
	text-decoration: none;
	transition: background-color 100ms ease-in-out;
}

#wikiList tr:hover td {
	background: #fff;
}

#wikiList button img {
	display: inline-block;
	vertical-align: top;
	width: 100px;
	border: 1px solid #ccc;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
	transition: opacity 100ms ease-in-out;
	opacity: 0.5;
}

#wikiList button:hover img {
	opacity: 1;
}

#wikiList .td-info {
	display: inline-block;
	margin-left: 12px;
	color: #000;
}

#wikilist .td-title {
	font-weight: bold;
}

#wikiList .td-url {
	font-size: 0.8em;
	color: #888;
}

#wikiList tr .td-toolbar {
	font-size: 0.8em;
	opacity: 0;
	margin-top: 0.5em;
	transition: opacity 100ms ease-in-out;
}

#wikiList tr:hover .td-toolbar {
	opacity: 1;
}

#wikiList .td-toolbar button {
	margin-right: 1em;
	border-radius: 3px;
	border: none;
	color: #fff;
	transition: -webkit-transform 100ms ease-in-out;
}

#wikiList .td-toolbar button:hover {
	-webkit-transform: scale(1.2,1.2);
}

#wikiList .td-toolbar button:active {
	-webkit-transform: scale(0.9,0.9);
	color: #444;
}

#wikiList .td-toolbar button.td-open {
	background-color: #4fb82b;
}

#wikiList .td-toolbar button.td-open:hover {
	background-color: green;
}

#wikiList .td-toolbar button.td-clone {
	background-color: #5778d8;
}

#wikiList .td-toolbar button.td-clone:hover {
	background-color: blue;
}

#wikiList .td-toolbar button.td-remove {
	background-color: #d85778;
}
#wikiList .td-toolbar button.td-remove:hover {
	background-color: red;
}
